In [3]:
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [4]:
engine= db.create_engine("mysql://root:root@127.0.0.1:3310/retail_db")
conn= engine.connect()

In [6]:
#Mongodb Insert

customers_df=pd.read_sql_query("select * from departments",con=conn)
customers_df

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [8]:
from pymongo import MongoClient
#from pymongo.server_api import ServerApi

conn_string = "mongodb+srv://jaimer8906:VVDCqrtKOokE2ykt@cluster0.qjgyf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client= MongoClient(conn_string)

In [10]:
#insercion base de datos en mongo de la base de datos de retail del contenedor de docker

dbname= client['retail_db']
collection = dbname['departments']
df_to_dict= customers_df.to_dict("records")

In [11]:

collection.insert_many(df_to_dict)

InsertManyResult([ObjectId('6790602ccd4bea576c9be390'), ObjectId('6790602ccd4bea576c9be391'), ObjectId('6790602ccd4bea576c9be392'), ObjectId('6790602ccd4bea576c9be393'), ObjectId('6790602ccd4bea576c9be394'), ObjectId('6790602ccd4bea576c9be395')], acknowledged=True)