In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine("mysql://root:root@127.0.0.1:3310/retail_db")
conn = engine.connect()

In [6]:
customers= pd.read_sql_table('customers',engine)
departments= pd.read_sql_table('departments',engine)
categories= pd.read_sql_table('categories',engine)
products= pd.read_sql_table('products',engine)
orders= pd.read_sql_table('orders',engine)
order_items= pd.read_sql_table('order_items',engine)

In [11]:
#La distribucion de clientes por estado
#customers[["customer_state","customer_id"]].groupby("customer_state").count()
customers['customer_state'].value_counts()

customer_state
PR    4771
CA    2012
NY     775
TX     635
IL     523
FL     374
OH     276
PA     261
MI     254
NJ     219
AZ     213
GA     169
MD     164
NC     150
VA     136
CO     122
OR     119
MA     113
TN     104
NV     103
MO      92
HI      87
CT      73
NM      73
WA      72
UT      69
WI      64
LA      63
DC      42
SC      41
IN      40
MN      39
KY      35
KS      29
DE      23
OK      19
WV      16
RI      15
ND      14
AR      12
ID       9
MT       7
IA       5
AL       3
Name: count, dtype: int64

In [12]:
#Cuantos clientes hay por ciudad
#customers[["customer_city","customer_id"]].groupby("customer_city").count()
customers['customer_city'].value_counts()

customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Hempstead           3
Freehold            2
Ponce               2
National City       2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [14]:

#cuantas categorias existen dentro de cada departamento
categories.groupby('category_department_id')['category_id'].count()

category_department_id
2     8
3     8
4     6
5     7
6    12
7     7
8    10
Name: category_id, dtype: int64

In [16]:
#Cuales son los productos mas caros y mas baratos
productocaro=products.loc[products['product_price'].idxmax()]
productocaro

product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object

In [17]:
#Cual esl el valor total de las ordenes por estado

productobarato=products.loc[products['product_price'].idxmin()]
productobarato

product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [21]:
#Cual es el producto mas vendido

masvendido=order_items.groupby('order_item_product_id')['order_item_quantity'].sum().idxmax()
products.loc[masvendido]

product_id                                                           366
product_category_id                                                   17
product_name                                      Gazelle Supreme Glider
product_description
product_price                                                     299.99
product_image          http://images.acmesports.sports/Gazelle+Suprem...
Name: 365, dtype: object